{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["@typescript-eslint", "testing-library", "jest-dom"],
  "extends": ["plugin:@typescript-eslint/recommended", "prettier/@typescript-eslint"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": ["off"],
    "@typescript-eslint/ban-ts-comment": ["off"]
  }
}
