{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["airbnb-typescript"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["testing-library", "jest-dom"],
  "rules": {
    "no-console": ["off"],
    "import/prefer-default-export": ["off"],
    "import/no-extraneous-dependencies": ["off"],
    "import/extensions": ["off"],
    "react/require-default-props": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "react/prop-types": ["off"],
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "controlComponents": ["ReakitCheckBox", "SwitchComponent"]
      }
    ],
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": ["off"],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "object-curly-newline": ["off"],
    "no-nested-ternary": ["off"],
    "linebreak-style": ["off"]
  }
}
